<div class="footer">
    <hr />
    <footer class="footer-partial">
        <div class="row">
            <ul class="fa-ul social-media-footer-bar">
                <li >
                    <a class="social-media-element"
                       href="//www.facebook.com/theinstillery"
                       target="_blank"
                    >
                        <i class="fa fa-facebook"></i>
                    </a>
                </li>
                <li>
                    <a class="social-media-element"
                       href="//www.twitter.com/theinstillery"
                       target="_blank"
                    >
                        <i class="fa fa-twitter"></i>
                    </a>
                </li>
                <li>
                    <a class="social-media-element"
                       href="//www.linkedin.com/company/the-instillery/"
                       target="_blank"
                    >
                        <i class="fa fa-linkedin"></i>
                    </a>
                </li>
                <li>
                    <a class="social-media-element"
                       href="//www.youtube.com/theinstillery"
                       target="_blank"
                    >
                        <i class="fa fa-youtube"></i>
                    </a>
                </li>
            </ul>
        </div>
        <div class="row">
            <p>
                Copyright © 2018 The Instillery Group Limited. All rights reserved. "The Instillery" and "Clearstate" are trademarks of The Instillery Group Limited.
            </p>
        </div>
    </footer>
</div>