/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    color: #909090;
    font-family: "Lato",sans-serif;
    padding-top: 48px;
    font-style: normal;
    font-weight: 400;
    background-color: #f3f3f3;
    line-height: 1.7;
    font-size: 16px;
}
home-page, user-page, game-page > h3, label {
    color: #fff;
}
.body-content {
    padding: 0;
    margin: 0;
}

tbody > tr:hover {
    background-color: rgba(39, 39, 39, 0.8);
    cursor: pointer;
}

/* NAVBAR CUSTOM COLORING */
.navbar {
    background-color: #000 !important;
}

.navbar-header {
    padding: 7px 0;
}

.navbar-nav {
    padding-top: .65em;
}

.navbar-inverse, .navbar-nav > li > a, button {
    font-family: inherit;
    font-style: normal;
    font-weight: 200;
    line-height: 1;
    text-transform: uppercase;
    color: hsl(0,0%,100%);
}

.navbar-nav > li:hover, .navbar-nav > li:focus {
    color: #e4ac25;
    border-bottom: 3px solid #e4ac25;
}

.navbar-brand {
    padding-top: 0;
    padding-bottom: 0;
}

/* LOGO */
.instillery-logo-navbar {
    width: 7em;
}

/* USER PROFILE PAGE*/
.profile-picture img {
    max-height: 300px;
    max-width: 300px;
    height: 100%;
    width: 100%;
}

.row-margin-override {
    margin-left: 0px;
    margin-right: 0px;
}

.profile-margin {
    margin-top: 50px;
}

.profile-info {
    margin-top: 30px;
}

/* Style the tab */
.tab {
    overflow: hidden;
    border: 2px solid #ccc;
    background-color: #f1f1f1;
}

/* Style the buttons that are used to open the tab content */
.tab {
    background-color: #000;
}

.tab button {
    background-color: #000;
    color: white;
    font-weight:bold;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    line-height: 17px;
    padding: 18px 16px;
    transition: 0.3s;
}

/* Change background color of buttons on hover */
    .tab button:hover {
        background-color: #ddd;
        color: #909090;
    }

/* Create an active/current tablink class */
.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 2px solid #ccc;
    border-top: none;
}

/* STYLE FOR THE CARD FORMAT ON USER AND GAME SEARCH*/
.user-cards {
    margin: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-auto-rows: minmax(100px, auto);
    grid-gap: 1rem;
}

.card {
    border: 2px solid #e7e7e7;
    border-radius: 4px;
    padding: .5rem;
    -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15);
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15);
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    align-items: center;
    color: white;
    cursor: pointer;
    font-weight: bold;
    background-color: rgba(16,9,1,0.5);
}
.game-cards-container {
    margin: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 300px));
    grid-auto-rows: minmax(100px, auto);
    grid-gap: 1rem;
    max-width: 80%;
    align-self: center;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.game-card {
    border: 2px solid #e7e7e7;
    border-radius: 4px;
    padding: .5rem;
    -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15);
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15);
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    align-items: center;
    color: #fff;
    cursor: pointer;
    font-weight: bold;
}
.user-card-picture img {
    fill: #c7c4c4;
    height: 135px;
    padding: 1.5rem;
}

/* SEARCH SIZES*/
.usr-search-bar {
    width: 400px;
    margin-bottom:20px;
    color: black;
    font-weight:bold;
}

.usr-search-btn {
    width: 50px;
    color:black;
    font-weight:bold;
}

/* COMMON FOR ALL PAGES */
.page-content {
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 600px;
    padding: 15px;
}

/*HOME PAGE*/
.home-page, .game-page, .user-page {
    color: #fff;
    background-image: url(/images/banner-home.jpg);
    padding: 15px 30px;
}

.float-left1, .float-right1 {
    padding: 10px 0 10px 15px;
}

.display-next-to-each-other {
    margin-top: 5px;
}

.float-left1 > h3 {
    margin: 0;
    padding: 0;
}
.match-history-table-td {
    text-align: center;
}
.match-history-table-outer-div {
    justify-content: center;
    text-align: center;
    align-self: center;
}
.match-history-table-middle-div {
    display: flex;
    justify-content: center;
    align-self: stretch;
}
.match-history-table-inner-edge-div {
    flex-direction:column;
    justify-content: center;
    text-align: center;
    width: 40%;
    overflow: hidden;
    text-overflow: ellipsis;
}
.match-history-table-inner-center-div {
    justify-content: center;
    text-align: center;
    align-self: center;
    width: 20%;
}
/*LOGIN PAGE*/
.login-page {
    background-image: url(/images/contact-banner.jpg);
}

/*REGISTER PAGE*/
.register-page {
    background-image: url(/images/contact-banner.jpg);
}

/* NEW USER GAME PAGE*/
.new-user-game {
    background-image: url(/images/shutterstock_217325476.jpg);
    padding: 15px 30px;
}

.user-game-player {
    padding-left: 5%;
    padding-right: 5%;
}

#GamePlayedName {
    width: 50%;
}

#GameScore {
    width: 50%;
}

.btn-submitUserGame {
    padding-left: 5%;
}

#submitUserGameBtn {
    color: #a6a6a6;
    margin-left: 1.1em;
    margin-top: 1em;
}

#submitUserGameBtn:hover {
    color: #262626;
}

fieldset.user-game-fieldset {
    border: solid 1px #DDD !important;
    padding: 0 10px 10px 10px;
    border-bottom: none;
}

legend.user-game-legend {
    width: auto !important;
    border: none;
    font-size: 1em;
    color: white;
}

/* CONTACT AND ABOUT PAGE */
.company-info {
    padding: 15px;
}

/* FOOTER */
.footer-partial {
    padding-top: 30px;
    background-color: #000;
    text-align: center;
}

.zero-row-margin {
    margin-right: 15px !important;
    margin-left: 15px !important;
}

.social-media-row {
    padding: 10px 0;
}

.zero-row-margin > p {
    font-size: 0.75em;
    margin: 0;
    padding-bottom: 20px;
}

.social-media-footer-bar {
    display: inline-flex;
}

.social-media-footer-bar > li {
    padding: 0 1em 0 1em;
    margin: 0 10px 0 10px;
    width: 3em;
    height: 3em;
    border-radius: 50%;
    background-color: #fff;
}

.social-media-footer-bar > li:hover {
    cursor: pointer;
}

.social-media-element > i {
    font-size: 1.3em;
    padding-top: .6em;
}

.social-media-element {
    text-align: center;
}

.float-left1, .float-right1 {
    padding: 10px 0 10px 15px;
}
.float-right1 {
    float: right;
    overflow: auto;
}
.game-detail {
    position: fixed;
    left: 0;
    overflow: visible;
}

.row .display-next-to-each-other {
    margin-top: 5px;
}

.float-left1 > h3 {
    margin: 0;
    padding: 0;
}

/* game/user page card css */
.card-picture {
    height: 135px;
    background-color: #5d5e5e;
}
.game-card-detail {
    color: white;
}

/* GAME DETAIL PAGE*/
.game-detail-table-div {
    padding-top: 0;
    padding-bottom: 0;
    height: 400px;
    overflow-y: auto;
}
.game-profile-table-div {
    padding-top: 0;
    padding-bottom: 0;
    width:auto;
    height: 300px;
    overflow-y: auto;
}
.game-detail-thead > tr, th {
    position: sticky;
    top: 0;
    padding-top: 20px !important;
}

/* MANAGE USER ACCOUNT PAGE */



