/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    color: #909090;
    font-family: "Lato",sans-serif;
    padding-top: 48px;
    font-style: normal;
    font-weight: 400;
    background-color: #f3f3f3;
    line-height: 1.7;
    font-size: 16px;
}

.container {
    padding: 0px;
    margin: 0px;
    width: 100%;
    height: auto;
}

.body-content {
    padding: 0;
    margin: 0;
}

.table tbody tr:hover td, .table tbody tr:hover th {
    background-color: rgb(39, 39, 39);
    cursor: pointer;
}

/* NAVBAR CUSTOM COLORING */
.navigation {
    padding: 0 15px 0 25px;
}

/* Navbar Custom coloring */
.navbar-inverse, .navbar-collapse, .collapse {
    background-color: #000;
}

.navbar, .navbar-inverse, .navbar-fixed-top {
    background-color: #000;
}

.nav, .navbar-nav, .navbar-right, .navbar-header {
    height: 68px;
    background-color: #000;
}

.navbar-header {
    padding: 7px 0;
}

.navbar-inverse .navbar-nav > li > a, button {
    font-family: inherit;
    font-style: normal;
    font-weight: 200;
    line-height: 1;
    text-transform: uppercase;
    color: hsl(0,0%,100%);
    padding: 25px 15px;
}

.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
    color: #e4ac25;
    border-bottom: 3px solid #e4ac25;
}

.navbar-brand {
    padding-top: 0;
    padding-bottom: 0;
}

/* LOGO */
.instillery-logo-navbar {
    width: 7em;
}

.user-cards{
    margin:20px;
    display:grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-auto-rows:minmax(100px, auto);
    grid-gap: 1rem;
}

.card {
    border: 2px solid #e7e7e7;
    border-radius: 4px;
    padding: .5rem;
    -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15);
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15);
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    align-items:center;
    color: #5d5e5e;
}

.card-picture img {
    fill: #c7c4c4;
    height: 135px;
    opacity: .25;
    padding: 1.5rem;
}

.usr-search-bar {
    width: 400px;
}

.usr-search-btn {
    width: 50px;
}

/*COMMON FOR ALL PAGES*/
.page-content {
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

/*HOME PAGE*/
.home-page {
    background-image: url(/images/banner-home.jpg);
    padding: 15px 30px;
    min-height: 750px;
}

.float-left1, .float-right1 {
    padding: 10px 0 10px 15px;
}

.display-next-to-each-other {
    margin-top: 5px;
}

.float-left1 > h3 {
    margin: 0;
    padding: 0;
}

/*LOGIN PAGE*/
.login-page {
    background-image: url(/images/contact-banner.jpg);
    padding: 15px;
    min-height: 750px;
}

/*REGISTER PAGE*/
.register-page {
    background-image: url(/images/contact-banner.jpg);
    padding: 15px;
    min-height: 850px;
}

/* NEW USER GAME PAGE*/
.new-user-game {
    background-image: url(/images/shutterstock_217325476.jpg);
    padding: 15px;
    min-height: 750px;
}

#GamePlayedName {
    width: 50%;
}

#GameScore {
    width: 50%;
}

#submitUserGameBtn {
    color: #a6a6a6;
}

#submitUserGameBtn:hover {
    color: #262626;
}

/*CONTACT AND ABOUT PAGE*/
.company-info {
    padding: 15px;
    min-height: 750px;
}

/* FOOTER */
.footer {
    bottom: 0;
    position: absolute;
}

.footer-partial {
    text-align: center;
}

.footer-partial > p {
    font-size: 0.75em;
    margin: 0;
    padding: 10px 0;
}

.social-media-footer-bar{
    display: inline-flex;
}

.social-media-footer-bar > li {
    padding: 0 1em 0 1em;
    margin: 0 10px 0 10px;
    width: 3em;
    height: 3em;
    border-radius: 50%;
    background-color: #fff;
}

.social-media-footer-bar > li:hover {
    cursor: pointer;
}

.social-media-element > i {
    font-size: 1.3em;
    padding-top: .6em;
}

.social-media-element {
    text-align: center;
}

